
#field-data-sync-settings .columns { clear: both; }
#field-data-sync-settings .columns:after { clear: both; }
#field-data-sync-settings .columns .column { min-width: 500px; max-width: 800px; width: 45%; float: left; margin: 10px 1%; }